:root,
:root.light {
  /* Светлая тема - серые тона */
  --color-background: #eae7e7;
  --color-background-soft: #e0e0e0;
  --color-background-mute: #bdbdbd;
  
  --color-text: #424242;
  --color-heading: #353131;
  
  --color-border: #9e9e9e;
  --color-border-hover: #757575;
}

:root.dark {
  /* Темная тема - темные серые тона */
  --color-background: #212121;
  --color-background-soft: #424242;
  --color-background-mute: #616161;
  
  --color-text: #e0e0e0;
  --color-heading: #dfd8d8;
  
  --color-border: #757575;
  --color-border-hover: #9e9e9e;
  
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
